[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 % Inets config
 {inets, [{services,[{httpd,[
    {modules, [mod_alias, mod_auth, mod_esi, mod_actions, mod_cgi, mod_get, mod_head, mod_dir, mod_log, mod_disk_log, simple_sync_server]},
    {port, 8881},
    {server_name, "simple_sync_serv"},
    {server_root, "."},
    {document_root, "lib/simple_sync-0.1.0/priv/htdocs"},
    {directory_index, ["index.html"]},
    {error_log, "log/error.log"},
    {transfer_log, "log/transfer.log"},
    {mime_types, [{"html", "text/html"}, {"css", "text/css"}, {"js", "application/x-javascript"}]},
    {mime_type, "application/octet-stream"},
    {bind_address, any},
    {ssl_verify_client, 0},
    {ssl_verify_depth, 0},
    {erl_script_alias, {"/erl", [simple_sync]}}]}]}]}
].

