{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "nodem", "1",
        [
         kernel,
         stdlib,
         sasl,
         inets,
         mnesia,
         simple_sync,
         wbxml,
         ucs
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "nodem"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {app, stdlib, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, xmerl, [{incl_cond, include}]},
       {app, mnesia, [{incl_cond, include}]},
       {app, simple_sync, [{incl_cond, include}]},
       {app, wbxml, [{incl_cond, include}]},
       {app, ucs, [{incl_cond, include}]}
      ]}.

{target_dir, "node"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/nodem", "bin/nodem"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
